################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
front-end-app/package-lock.json
front-end-app/package-lock.json
.DS_Store
